# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.gitignore
*.vscode/

out
gen
__pycache__/
apps/__pycache__/
apps/account/__pycache__/
apps/account/migrations/__pycache__/
apps/product/__pycache__/
apps/product/migrations/__pycache__/
settings/__pycache__/
utils/__pycache__/
